extends layout

block content
    div.shortlist-container
        each trailer in trailers_found
            div.shortlisted-film-container
                div.shortlisted-film-title
                    h2= trailer.titleUnencoded
                if (trailer.rating === 1)
                    div.shortlisted-trailer-rating.rating--bronze
                        i.fas.fa-star.fa-2x.shortlist-star
                else if (trailer.rating === 2)
                    div.shortlisted-trailer-rating.rating--silver
                        i.fas.fa-star.fa-2x.shortlist-star
                        i.fas.fa-star.fa-2x.shortlist-star
                else
                    div.shortlisted-trailer-rating.rating--gold
                        i.fas.fa-star.fa-2x.shortlist-star
                        i.fas.fa-star.fa-2x.shortlist-star
                        i.fas.fa-star.fa-2x.shortlist-star

        //
            div.trailer-container
                img.trailer-image(src=trailer.imageURL)
                div.trailer-text-container
                    div.trailer-title
                        h2= trailer.titleUnencoded
                    div.trailer-tags= trailer.tags
                    div.trailer-notes= trailer.notes
                    div.trailer-rating
                        if (trailer.rating === 1)
                            i.fas.fa-star.fa-2x.shortlist-star.star--lit
                        else if (trailer.rating === 2)
                            i.fas.fa-star.fa-2x.shortlist-star.star--lit
                            i.fas.fa-star.fa-2x.shortlist-star.star--lit
                        else
                            i.fas.fa-star.fa-2x.shortlist-star.star--lit
                            i.fas.fa-star.fa-2x.shortlist-star.star--lit
                            i.fas.fa-star.fa-2x.shortlist-star.star--lit


