extends layout

block content
  div.trailers-to-watch-container
    each trailer in trailers_found
      div.trailer(id=`id_${trailer.id}`)
        a.trailer__image(href=trailer.trailerLink target="_blank")
          img.trailer__image(src=trailer.imageURL)
        div.trailer__text
          div.trailer__title
            h2= trailer.titleUnencoded
          div.trailer__tags= trailer.tags
        button.trailer__rate-button(onclick=`showRatingDialog("${trailer.titleUnencoded}", "${trailer.id}")`) Rate